.parent {
  /*display: flex;
  flex-wrap: wrap;
  padding: 3rem;
  max-width: 100%;
  width: 100%;*/
}
.custom-background {
  background-color: #e0c7a7;
}

.child {
  margin: 2px;
  height: 100%;
  background-color: #64c2c8;
  position: relative;
}
.child img {
  margin: auto;
  display: block;
  width: 100%;
}
.child span {
  padding: 10px 0 0 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20%;
  background-color: #071937;
  width: 100%;
  font-size: 1.5rem;
  line-height: 1.2;
}
@media only screen and (max-width: 1024px) {
  .child span {
    font-size: 1rem;
    padding: 5px 0 5px 10px;
    height: 22%;
  }
}

@media only screen and (max-width: 480px) {
  .parent {
    padding: 1rem;
    flex-direction: column;
  }
  .child {
    /*flex: 1 0 100%;*/
    margin-bottom: 1.5rem;
  }
  .child span {
    font-size: 1.2rem;
    padding: 10px 0 10px 10px;
    height: 15%;
  }
}
